@page "/"
@using WebQuizGame.Classes.Models
@inject Authorization Auth

<div class="home-page">
    <div class="menu-screen">
        <h1 class="menu-title">Quiz Game</h1>
        <p class="menu-subtitle">Choose your mode and start playing</p>

        <div class="menu-container">
            <button class="menu-btn" @onclick="GoToSingleplayer">Singleplayer</button>
            <button class="menu-btn" @onclick="GoToMultiplayer">Multiplayer</button>
            <button class="menu-btn" @onclick="GoToProfile">Profile</button>
            <button class="menu-btn" @onclick="GoToLeaderboard">Leaderboard</button>
            <!-- <button class="menu-btn exit" @onclick="ExitGame">Exit</button> -->
        </div>
    </div> 
</div>

@code {
    [Inject] NavigationManager Navigation { get; set; } = default!;

    private void GoToSingleplayer()
        => Navigation.NavigateTo("/singleplayerMenu");

    private void GoToMultiplayer()
        => Navigation.NavigateTo("/multiplayer");

    private async Task GoToProfile()
    {
        await Auth.InitializeAsync();

        if (Auth.IsLoggedIn)
            Navigation.NavigateTo("/profileMenu");
        else
            Navigation.NavigateTo("/profile");
    }
    
    private void GoToLeaderboard()
    {
        Navigation.NavigateTo("/leaderboard");
    }
}