@page "/profile"
@using WebQuizGame.Classes.Models
@inject NavigationManager Navigation
@inject HttpClient Http
@inject Authorization Auth
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<h3>Login / Register</h3>

<input placeholder="Username" @bind="Username" />
<input placeholder="Password" type="password" @bind="Password" />

<button @onclick="Login">Login</button>
<button @onclick="Register">Register</button>

@if (Auth.IsLoggedIn)
{
    <p>Logged as: @Auth.Username</p>
    <button @onclick="Logout">Logout</button>
}

<p>@Message</p>

@code {
    private string Username = "";
    private string Password = "";
    private string Message = "";

    private async Task Login()
    {
        var response = await Http.PostAsJsonAsync(
            "api/auth/login",
            new UserDto
            {
                Username = Username,
                Password = Password
            });

        if (!response.IsSuccessStatusCode)
        {
            Message = "Invalid credentials!";
            return;
        }

        var result = await response.Content
            .ReadFromJsonAsync<LoginResponse>();

        await Auth.Login(Username, result!.Token);

        Navigation.NavigateTo("/profileMenu");
    }

    private async Task Logout()
    {
        await Auth.Logout();
        Navigation.NavigateTo("/", true);
    }

    private async Task Register()
    {
        var response = await Http.PostAsJsonAsync(
            "api/auth/register",
            new UserDto
            {
                Username = Username,
                Password = Password
            });

        Message = response.IsSuccessStatusCode
            ? "Registration successful! Now log in."
            : "Username already exists!";
    }
}